<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupport"
                aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link text-white" href="#">Features</a>
            </div>
            <div class="navbar-nav justify-content-end">
                <a class="nav-link text-white" href="#">Features</a>
            </div>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupport">
            <div class="navbar-nav">
                <a class="nav-link text-white" href="#">About</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link text-white" href="#">Contact</a>
            </div>
            {% if current_user.is_authenticated %}
            <div class="navbar-nav">
                <a class="nav-link text-white" href="#">Log Out</a>
            </div>
            {% else %}
            <div class="navbar-nav">
                <a class="nav-link text-white" href="#">Log In</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link text-white" href="#">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>